@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav {
  position: fixed;
  z-index: 99;
  width: 100%;

  background: #242526;
}

nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo img {
  padding-top: 1rem;
}

.wrapper .nav-links {
  display: inline-flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  background: #3A3B3C;
}

.nav-links .mobile-item {
  display: none;
}

.nav-links .drop-menu {
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

.mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}

.mega-box .content {
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
  width: calc(25% - 30px);
  line-height: 45px;
}

.content .row img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.content .row header {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}

.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li {
  padding: 0 20px;
}

.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}

.row .mega-links li a:hover {
  color: #f2f2f2;
}

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }

  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }

  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #242526;
  }

  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }

  #menu-btn:checked~.nav-links {
    left: 0%;
  }

  #menu-btn:checked~.btn.menu-btn {
    display: none;
  }

  #close-btn:checked~.btn.menu-btn {
    display: block;
  }

  .nav-links li {
    margin: 15px 10px;
  }

  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }

  #showDrop:checked~.drop-menu,
  #showMega:checked~.mega-box {
    max-height: 100%;
  }

  .nav-links .desktop-item {
    display: none;
  }

  .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .nav-links .mobile-item:hover {
    background: #3A3B3C;
  }

  .drop-menu li {
    margin: 0;
  }

  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }

  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }

  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }

  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }

  .row .mega-links li {
    margin: 0;
  }

  .content .row header {
    font-size: 19px;
  }
}

nav input {
  display: none;
}

* Allgemeine Stile */ body {
  margin: 0;
  font-family: Arial, sans-serif;

}

.bttnnss {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  gap: 30px;
}

.service-btn22 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #003d7a;
  /* Blau für den Button */
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: 1px solid #ffffff;
  /* Schwarzer Rahmen */
  border-radius: 4px;
}

.service-btn23 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  /* Weißer Hintergrund */
  color: #000000;
  /* Schwarze Schrift */
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: 1px solid #000000;
  /* Schwarzer Rahmen */
  border-radius: 4px;
  /* Optional: Abgerundete Ecken */
}

  .service-btn:hover {
    background-color: #6d757c;
    /* Dunkleres Blau beim Hover */
  }

  .einleitungstext {
    display: flex;
    /* Flexbox für einfache Zentrierung */
    flex-direction: column;
    justify-content: center;
    /* Horizontale Zentrierung */
    align-items: center;
    /* Vertikale Zentrierung */
    width: 100%;
    background-image: url(images/einleit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    padding: 0;
    /* Entfernt unnötige Abstände */
  }

  .eeww {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 90%;
  }

  .eeww h1 {
    font-size: 70px;
    padding: 1rem;
    background-color: #2a2a2ad0;
    /* Hintergrundfarbe nur um den Text */
    display: block;
    /* Begrenzt den Hintergrund auf die Textbreite */
    color: white;
    /* Textfarbe für bessere Lesbarkeit */
    text-align: center;
    /* Zentriert den Text innerhalb des Blocks */
    line-height: 1.2;
    /* Passt den Zeilenabstand an */
  }

  .callmee {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: #003d7a;
    color: #ffffff;
    font-size: 22px;
  }
  .callmee a{
    color: #fff;
    padding: 1rem;
  }

  .callmee a:hover{
    color: #9a9a9a;
  }

  .eeww p {
    font-size: x-large;
    padding: 1rem;
    background-color: #2a2a2ad0;
    color: white;
    text-align: center;
  }

  @media (max-width: 768px) {
    .bttnnss {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      gap: 30px;
    }

    .callmee {
      font-size: 18px;
    }
  }

  @media (max-width: 390px) {

    .callmee {
      font-size: 10px;
    }

  }

  @media (max-width: 929px) {

    .eeww {
      padding: 0;
      margin: 0;
      align-items: stretch;
      display: flex;
      flex-direction: column;
      /* Kinder werden vertikal ausgerichtet */
    }

    .eeww h1 {
      font-size: 30px;
      text-align: center;
      width: 100%;
      /* Volle Breite des Containers */
      background-color: #2a2a2ad0;
      color: white;
      box-sizing: border-box;
      /* Padding wird innerhalb der Breite berücksichtigt */
      word-wrap: normal;
      /* Lange Wörter umbrechen */
      overflow-wrap: normal;
      /* Alternativ: Für kompatible Browser */
      text-align: center;
    }

    .eeww p {
      font-size: medium;
      background-color: #2a2a2ad0;
      color: white;
      width: 100%;
      box-sizing: border-box;
      word-wrap: normal;
      text-align: center;
    }

    .einleitungstext {
      height: 90vh;
      justify-content: center;
    }
  }

  @media (max-width: 390px) {

    .eeww h1 {
      font-size: 20px;
      text-align: left;
      align-self: flex-start;
      width: 100%;
      /* Volle Breite des Containers */
      background-color: #2a2a2ad0;
      color: white;
      box-sizing: border-box;
      /* Padding wird innerhalb der Breite berücksichtigt */
      word-wrap: normal;
      /* Lange Wörter umbrechen */
      overflow-wrap: normal;
      /* Alternativ: Für kompatible Browser */
      text-align: center;
    }

    .eeww p {
      font-size: 15px;
    }

  }

  .footer {
    background-color: #242526;
    color: white;
    padding: 30px 20px;
    text-align: left;
  }

  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }

  .footer-section {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }

  .footer-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
  }

  .footer-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: white;
  }

  .footer-section ul {
    padding-left: 20px;
    color: white;
  }

  .footer-section ul li {
    list-style-type: circle;
    color: white;
  }

  .footer-section a {
    color: white;
    text-decoration: none;
  }

  .footer-section a:hover {
    text-decoration: underline;
  }

  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #555;
    margin-top: 20px;
  }

  .footer-bottom p {
    font-size: 0.9rem;
    color: white;
    text-align: center;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    /* Abstand zwischen den Service-Reihen */
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .service-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* Abstand zwischen Bild und Text */

    margin: 0 auto;
  }

  .service-row img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    /* Sicherstellen, dass das Bild gut skaliert */
    border-radius: 10px;
    /* Abgerundete Ecken für Bilder */
  }

  .service-info {
    max-width: 500px;
    text-align: left;
  }

  .service-info h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .service-info p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .service-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #242526;
    /* Blau für den Button */
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .service-btn:hover {
    background-color: #6d757c;
    /* Dunkleres Blau beim Hover */
  }

  @media (max-width: 768px) {
    .service-row {
      flex-direction: column;
      /* In Spalten umwandeln auf kleinen Bildschirmen */
    }

    .service-row.reverse {
      flex-direction: column;
      /* Gleiches Layout auch bei Reverse */
    }

    .service-row img {
      width: 100%;
      height: 300px;
    }

    .ww {
      width: 80%;
      align-self: center;
      padding: 2rem;
    }

    
  }

  body,
  html {
    margin: 0;
    padding: 0;
  }

  .ss {
    text-align: center;
    font-size: 50px;
    padding-top: 2rem;
  }


  /* Mobile- und Tablet-Ansicht: Eine Box pro Reihe */
  @media (max-width: 768px) {
    .service {
      width: 95%;
      /* Jede Box nimmt 100% der Breite ein */
      margin: 0 auto 20px;
      /* Zentriert die Boxen auf kleinen Bildschirmen */
    }

    .einleitung h1 {
      text-align: center;
      font-size: 30px;
      padding-top: 70px;
    }

    .service-container h2 {
      text-align: center;
      font-size: 30px;
    }

    .einleitung p {
      padding: 1rem;
    }


    .ss {
      width: 100%;
      font-size: 35px;
    }
  }

  /* Große Bildschirme (z. B. ab 1024px): 3 Boxen nebeneinander */
  @media (min-width: 1024px) {
    .service-container {
      width: 80%;
      /* Container nimmt 80% des Bildschirms ein */
      margin: 0 auto;
      /* Zentriert den Container auf dem Bildschirm */
    }

    .einleitung {
      padding-top: 70px;
      height: 300px;
      padding-bottom: 50px;
    }

    .einleitung h1 {
      padding-top: 70px;
    }
  }

  /* Mobile Ansicht */
  @media (max-width: 768px) {
    .menu-toggle {
      display: flex;
    }

    @media (min-width: 1024px) {
      section {
        padding: 30px;
      }

      p {
        font-size: 1rem;
        /* Größere Schrift auf großen Bildschirmen */
      }

    }
  }

  .content {
    padding-top: 75px;
    background-image: url(images/einleit.jpg);
    color: #ffffff;
  }

  .content p {
    background-color: #a0a0a0dd;
    padding: 1rem;
  }

  .content h1 {
    font-size: 50px;
    padding-top: 2rem;
    text-align: center;
  }

  .content23 h1 {
    font-size: 50px;
    padding-top: 2rem;
    margin: 3rem;
    text-align: center;
  }



  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Zentrierung des Textblocks */
  }

  .intro p {
    width: 60%;
    text-align: justify;
    /* Blockartige Ausrichtung des Textes */
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 30px;
    /* Optionale Seiteneinrückung für bessere Optik */
  }

  @media (max-width: 768px) {
    .intro p {
      width: 850%;
    }
  }

  .image-container22 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .service-video {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 8px;
    /* Optional, für abgerundete Ecken */
  }

  .fassadetext {
    padding-top: 75px;

  }

  .fassadetext h1 {
    font-size: 50px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }

  .fassadetext p {
    width: 80%;
    text-align: justify;
    /* Blockartige Ausrichtung des Textes */
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 30px;
    /* Optionale Seiteneinrückung für bessere Optik */
  }

  .intro1 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* Streckt beide Elemente gleichmäßig */
    text-align: left;
    /* Text linksbündig */
    margin: 0 auto;
    gap: 40px;
  }

  .intro1 img {
    height: 100%;
    /* Passt die Höhe des Bildes an den Elterncontainer an */
    max-height: 600px;
    /* Begrenzung der maximalen Höhe */
    object-fit: cover;
    /* Verhindert Verzerrungen des Bildes */
  }

  .intro1 p {
    margin: 0;
    /* Entfernt unnötige Abstände */
    flex: 1;
    /* Textcontainer nimmt gleichen Platz ein wie das Bild */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Zentriert den Text vertikal */
  }

  .angebot {
    display: flex;
    justify-content: center;
    /* Zentrierung horizontal */
    align-items: center;
    /* Zentrierung vertikal */
    text-align: center;
    /* Text zentrieren */
    margin: 3rem;
  }

  .angebotsec {
    background-color: #67676761;
    padding: 2rem;
    border-radius: 10px;
  }

  /* Stil für den Text */
  .angebotsec p {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0;
    display: inline;

  }

  .angebotsec a {
    color: #0078d7;
    /* Linkfarbe */
    text-decoration: none;
  }

  .angebotsec a:hover {
    text-decoration: underline;
  }

  @media (min-width: 769px) and (max-width: 1680px) {
    .fassadetext .intro1 {
      flex-direction: column;
      width: 95%;
      /* Elemente untereinander anordnen */
      align-items: center;
      /* Zentriert das Bild und den Text */
      text-align: center;
      /* Text zentrieren */
      margin: 0 auto;
    }

    .fassadetext img {
      max-width: 100%;
      align-items: center;
      height: 600px;
      /* Bild nimmt die volle Breite ein */
    }

    .fassadetext p {
      width: 100%;
      margin: 1rem;
      /* Bild nimmt die volle Breite ein */
    }

    .fassadetext h1 {
      font-size: 30px;
      padding-top: 2rem;
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    .fassadetext .intro1 {
      flex-direction: column;
      width: 95%;
      /* Elemente untereinander anordnen */
      align-items: center;
      /* Zentriert das Bild und den Text */
      text-align: center;
      /* Text zentrieren */
      margin: 0 auto;
    }

    .fassadetext img {
      max-width: 100%;
      align-items: center;
      height: 400px;
      /* Bild nimmt die volle Breite ein */
    }

    .fassadetext p {
      width: 100%;
      margin: 1rem;
      /* Bild nimmt die volle Breite ein */
    }

    .fassadetext h1 {
      font-size: 30px;
      padding-top: 2rem;
      text-align: center;
    }
  }


  .salam {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 180px;
    background-image: url(images/einleit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .wewe {
    width: 60%;
    margin: 2rem;
    border-radius: 8px;
  }

  #contact {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 60%;
    text-align: center;
    margin-bottom: 1rem;
  }

  #contact h1 {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 20px;
  }

  #contact p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 25px;
  }

  #contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #contact ul li {
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: #444;
  }

  #contact ul li strong {
    color: #007bff;
  }

  #contact ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }

  #contact ul li a:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    #contact {
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 85%;
      text-align: center;
      margin-bottom: 1rem;
      align-self: center;
      padding: 0.5rem;
    }

    .wewe {
      width: 85%;
      margin: 1rem;
      border-radius: 8px;
    }
  }

  .galerie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-left: 20px;
    margin-right: 20px;
  }

  .galerie .headding {
    width: 50%;
    padding-bottom: 30px;
    padding-top: 80px;
    margin: 2rem;
  }

  .galerie .headding h1 {
    font-size: 3em;
    font-weight: bolder;
  }

  .galerie .boxx {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .galerie .boxx .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    align-items: center;

  }

  .galerie .boxx .dream img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;

  }

  @media (max-width: 768px) {
    .galerie .boxx {
      flex-direction: column;
    }

    .galerie .boxx .dream {
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }

  body,
  html {
    margin: 0;
    padding: 0;
  }